
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Metrophobic&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');


/* font-family: 'Domine', serif;
font-family: 'Metrophobic', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 90%;
    margin: 0 auto;
    background-image: url(images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Domine', serif; */

}

/* header */
header {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.header-text h5{
    /* margin-top: 5px; */
    display: inline-flex;
    margin-left: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 300;
    gap: 5px;
    /* padding-top: 0px; */
}


.bx-menu{
    color: #EB008A;
    font-size: 18px;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 2px;
    /* margin-top: 50px; */
    cursor: pointer;
    /* margin-top: 100px; */
}

/* hero section */
.hero-section {
    margin-top: 30px;
    margin-left: 100px;
}

.hero {
    display: flex;
    gap: 60px;
    justify-content: space-around;
}

/* launching */
.days {
    display: flex;
}

.days h2 {
    font-size: 130px;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 100;
}

.days h6 {
    margin-top: 100px;
    margin-left: 10px;
    /* background-color: #EB008A; */
    padding: 0 5px;
    padding-bottom: 0;
}

.hms {
    display: flex;
    gap: 16px;
}

.hms h4{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.hms h4 span{
    font-size: 14px;
    text-transform: uppercase;
    opacity: .5;
}

/* count */
.count h2{
    font-size: 62px;
    font-weight: 500;
    font-family: 'Domine', serif;
    /* font-family: 'Metrophobic', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */

}

.count p{
    opacity: .5;
    line-height: 25px;
    /* font-family: 'Roboto', sans-serif; */
    margin-top: 32px;
    margin-bottom: 20px;
}

.form{
    display: inline-flex;
}

.form input{
    border: none;
    padding: 10px;
    background-color: gray;
    opacity: .2;
}

.form .notify{
    background-color: #EB008A;
    padding: 8px 18px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    /* width: 50px; */
}

.form .notify h6{
    margin-top: 5px;
}

/* .count .form{
    color: white;
} */


/* icons */
.icons{
    margin-top: 100px;
}

.icons .icon ol{
    margin-bottom: 24px;
}

.icons .icon ol:hover{
   color: red;
}

.icons .icon ol i{
    font-size: 18px;
    cursor: pointer;
}
