@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Metrophobic&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*
 font-family: 'Domine', serif;
font-family: 'Metrophobic', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
 */

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 90%;
    margin: 0 auto;
    background-image: url(images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.header-text {
    display: flex;
}

.text h5 {
    display: inline-flex;
    margin-left: 10px;
    margin-top: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 300;
}

.bx-menu {
    color: #EB008A;
    background-color: black;
    font-size: 24px;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 2px;
    cursor: pointer;
}

/* hero section */
.hero-section {
    margin-top: 40px;
    margin-left: 100px;
}

.hero {
    display: flex;
    gap: 100px;
    justify-content: space-around;
    padding-top: 42px;
}

/* launching */
.launcehing h5 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 10px;
    margin-left: 35px;
}

.launcehing h5::before {
    content: "";
    top: 6px;
    left: -38px;
    width: 33px;
    height: 1px;
    background-color: #EB008A;
    position: absolute;
    background-size: cover;
}

.days {
    display: flex;
}

.days h2 {
    font-size: 130px;
    font-weight: 100;
}

.day h6 {
    margin-top: 100px;
    margin-left: 10px;
    background-color: #EB008A;
    padding: 5px 10px;
    border-radius: 1px;
}

.hms {
    display: flex;
    gap: 16px;
}

.hms h4 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.hms h4 span {
    font-size: 14px;
    text-transform: uppercase;
    opacity: .5;
}

/* count */
.count h5 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 10px;
    margin-left: 50px;
    margin-bottom: 24px;
}

.count h5::before {
    content: "";
    top: 6px;
    left: -47px;
    width: 37px;
    height: 1px;
    background-color: #EB008A;
    position: absolute;
    background-size: cover;
}

.count h5::after {
    content: "";
    top: 440px;
    left: 770px;
    width: 1px;
    height: 48px;
    background-color: #EB008A;
    position: absolute;
    background-size: cover;
}

.count h2 {
    font-size: 56px;
    font-weight: 500;
    font-family: 'Domine', serif;
}

.count p {
    opacity: .7;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 20px;
    font-weight: 200;
}

.form {
    display: inline-flex;
}

.form input {
    border: none;
    padding: 10px;
    background-color: gray;
    opacity: .5;
}

.input input {
    color: white;
}

.form .notify {
    background-color: #EB008A;
    padding: 8px 18px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}

.form .notify a {
    margin-top: 5px;
    text-decoration: none;
    color: white;
}

/* icons */
.icons {
    margin-top: 100px;
}

.icons .icon ol {
    margin-bottom: 24px;
}

.icons .icon ol:hover {
    color: red;
}

.icons .icon ol i {
    font-size: 18px;
    cursor: pointer;
}


/* ------ media screen ------- */

@media (max-width:1024px) {
    .count h2 {
        font-size: 32px;
    }

    .count p {
        line-height: 25px;
    }
}

@media (max-width:768px) {
    .hero {
        display: block;
    }

    .count h2 {
        font-size: 36px;
    }

    .count h5 {
        margin-top: 40px;
    }

    .icon {
        display: flex;
        gap: 30px;
        margin-bottom: 20px;
    }

}

@media (max-width:576px) {
    .form {
        display: block;
    }

    .form .notify {
        margin-top: 10px;
    }

    .icon {
        gap: 20px;
    }
}